.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container form input {
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 40px;
    font-size: 16px;
    color: #666;
}

.login-container form input ::placeholder {
    color: #999999;
}

.login-container form button[type=submit] {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #DF4323;
    font-weight: bold;
    padding: 0 60px;
    color: #FFF;
    cursor: pointer;
}

